<!-- <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidepanel</button>
<h2>Collapsed Sidepanel</h2>
<p>Content...</p> -->

<div class="sidenav" ngClass = "{'hide': open}">
  <button class="dropdown-btn dropdown-toggle" (click)="showSubmenu()">Admin
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" [ngClass] = "{'hide': hide}">
      <a routerLink = "/branch" >System Config</a>
    </div>
  
  <button class="dropdown-btn dropdown-toggle" (click)="showSubmenu()">User Creation
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" [ngClass] = "{'hide': hide}">
      <a routerLink = "/employee" >Employee</a>
      <a routerLink = "/employees" >Employees</a>
    </div>
  <button class="dropdown-btn dropdown-toggle" (click)="showSubmenu()">CBO Management
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" [ngClass] = "{'hide': hide}">
      <a routerLink = "/cbo" >CBO</a>
    </div>
  <div routerLinkActive="active">
    <a routerLink="/sample">Services</a>
  </div>
  <div routerLinkActive="active">
    <a href="#clients">Clients</a>
  </div>
  <div routerLinkActive="active">
    <a href="#contact">Contact</a>
  </div>
  
  <a href="#contact">Search</a>
</div> 
