<h3>Employees</h3>
<form #f="ngForm" [formGroup]="employeesForm" (ngSubmit)="onSubmit()">
    <app-listbuttons [valid] ="f.valid" [dirty] ="f.dirty" [form] = "form"></app-listbuttons>
    <div class="blockstyle group-block">
        <div formArrayName="rows" class="table-responsive">
          
            <!-- The repeated alias template -->
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">se</th>
                        <th scope="col">Title</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Gender</th>
                    </tr>
                </thead>
            <tbody *ngFor="let record of baseService.recordsArr; let i=index">  
                    <tr >
                        <td>
                            <input 
                            type="checkbox"
                            id="selected"
                            class="form-control form-control-sm"
                            [(ngModel)]="record.selected"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="!baseService.getReadMode()"
                           >

                        </td>
                       
                        <td>
                            <select 
                                type="text"
                                class="form-control form-control-sm"
                                [(ngModel)]="record.title"
                                [ngModelOptions]="{standalone: true}"
                                required
                                [disabled]="record.cellReadMode">
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                                <option value="master">Master</option>
                                <option value="miss">Miss</option>
                            </select>
                        </td>
                        <td>
                            <input 
                                type="text"
                                id="firstName"
                                class="form-control form-control-sm"
                                [(ngModel)]="record.firstName"
                                [ngModelOptions]="{standalone: true}"
                                required
                                [disabled]="record.cellReadMode">
                        </td>
                        <div *ngIf="name.errors.required">
                            Name is required.
                          </div>
                        <td>
                            <input 
                            type="text"
                            id="middleName"
                            class="form-control form-control-sm"
                            [(ngModel)]="record.middleName"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="record.cellReadMode">
                        </td>
                        <td>
                            <input 
                            type="text"
                            id="lastName"
                            class="form-control form-control-sm"
                            [(ngModel)]="record.lastName"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="record.cellReadMode">
                        </td>
                        <td>
                            <select 
                                type="text"
                                id="gender"
                                class="form-control form-control-sm"
                                [(ngModel)]="record.gender"
                                [ngModelOptions]="{standalone: true}"
                                [disabled]="record.cellReadMode">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </td>
                        <td>
                            <input 
                                type="text"
                                id="objid"
                                class="form-control form-control-sm"
                                [(ngModel)]="record.objid"
                                [ngModelOptions]="{standalone: true}"
                                required
                                [disabled]="true">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    
</form>