<table>
    <tr class="col-md-2">
        <td><h3>Employee</h3></td>
        <td> 
            <select 
                type="text"
                id="headerobjid"
                class="mainbackgound mainselector form-control form-control-sm"
                [(ngModel)]="baseService.headerobjid"
                (ngModelChange)="baseService.reload(baseService.headerobjid)"
                name="headerobjid"
                [disabled]="!baseService.getReadMode()">
                <option *ngFor="let record of baseService.recordsArr  " value="{{record.objid}}">
                    {{record.id.toUpperCase()}} - {{record.firstName}} 
                </option>
            </select>
        </td>
    </tr>
</table>
<app-buttons [objid] ="record.objid" [valid] ="f.valid" [dirty] ="f.dirty" [form] = "form"></app-buttons>
<form #f="ngForm" >
    <div class="row blockstyle group-block">
        <div class="col-md-3">
            <div class="form-group">
                <label for="title">*Title</label>
                <select 
                    type="text"
                    id="title"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.title"
                    name="title"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="mr">Mr</option>
                    <option value="mrs">Mrs</option>
                    <option value="master">Rev</option>
                    <option value="miss">Miss</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="firstName">*First Name</label>
                <input 
                    type="text"
                    id="firstName"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.firstName"
                    name="firstName"
                    required
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="middleName">Middle Name</label>
                <input 
                    type="text"
                    id="middleName"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.middleNames"
                    name="middleName"
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="lastname">*Last Name</label>
                    <input 
                        type="text"
                        id="lastname"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.lastName"
                        name="lastname"
                        required
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="nicNo">*NIC No</label>
                    <input 
                        type="text"
                        id="nicNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.nicNo"
                        name="nicNo"
                        required
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="dateOfBirth">DoB</label>
                    <input 
                        type="date"
                        id="dateOfBirth"
                        class="form-control form-control-sm"
                        [ngModel]="baseService.record.dateOfBirth| date:'yyyy-MM-dd'"
                        [(ngModel)]="baseService.record.dateOfBirth"
                        name="dateOfBirth"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="gender">*Gender</label>
                <select 
                    type="text"
                    id="gender"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.gender"
                    name="gender"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="civilStatus">*Civil Status</label>
                <select 
                    type="text"
                    id="civilStatus"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.civilStatus"
                    name="civilStatus"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="single">single</option>
                    <option value="married">Married</option>
                    <option value="widowed">Widowed</option>
                    <option value="divorced">Divorced</option>
                    <option value="separated">Separated </option>
                </select>
            </div>
            
        </div>
    </div>
    
    <div class="row blockstyle group-block">

        <div class="col-md-3">
            <div class="form-group">
                <label for="userType">*User Type</label>
                <select 
                    type="text"
                    id="userType"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.userType"
                    name="userType"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="administrator">Administrator</option>
                    <option value="normal">Normal</option>

                </select>
            </div>
            
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="userName">*User Name</label>
                <input 
                    type="text"
                    style="text-transform:uppercase"
                    id="userName"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.id"
                    name="userName"
                    required
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="password">*Password</label>
                    <input 
                        type="password"
                        autocomplete="new-password"
                        id="password"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.password"
                        name="password"
                        required
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
    </div>

    <div class="row blockstyle group-block">
        <div class="col-md-3">
            <div class="form-group">
                    <label for="houseNo">House No</label>
                    <input 
                        type="text"
                        id="houseNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.houseNo"
                        name="houseNo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="streetAddress">Street Address</label>
                    <input 
                        type="text"
                        id="streetAddress"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.streetAddress"
                        name="streetAddress"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="cityCbo">City/Cbo</label>
                    <input 
                        type="text"
                        id="cityCbo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.cityCbo"
                        name="cityCbo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="mobileNo">Mobile No</label>
                    <input 
                        type="text"
                        id="mobileNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.mobileNo"
                        name="mobileNo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="landPhoneNo">Land Phone No</label>
                    <input 
                        type="text"
                        id="landPhoneNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.landPhoneNo"
                        name="landPhoneNo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        type="text"
                        id="email"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.email"
                        name="email"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        
        <hr>
    </div>
</form>