<app-selector [title]="'Employee'" [select1]= "'userName'" [select2]= "'firstName'"></app-selector>
<app-buttons [valid] ="f.valid" [dirty] ="f.dirty" [form] = "form"></app-buttons>
<div class="row blockstyle group-search-block" [hidden] = "baseService.getCollapse()">
    <div class="col-md-2">
        <div class="form-group">
            <input 
                list="titlelist"
                id="serch_title"
                placeholder="Title"
                class="form-control form-control-sm"
                [(ngModel)]="baseService.searchRecord.title"
                name="serch_title">
            <datalist id="titlelist">
                <option data-value="mr" value = "Mr" >
                <option data-value="mrs" value = "Mrs">
                <option data-value="master" value = "Rev">
                <option data-value="miss" value = "Miss">
            </datalist>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_firstName"
                class="form-control form-control-sm"
                placeholder="First Name"
                [(ngModel)]="baseService.searchRecord.firstName"
                name="serch_firstName">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_middleName"
                class="form-control form-control-sm"
                placeholder="Middle Name"
                [(ngModel)]="baseService.searchRecord.middleNames"
                name="serch_middleName">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_lastname"
                class="form-control form-control-sm"
                placeholder="Last Name"
                [(ngModel)]="baseService.searchRecord.lastName"
                name="serch_lastname"
                required>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_nicNo"
                class="form-control form-control-sm"
                placeholder="NIC No"
                [(ngModel)]="baseService.searchRecord.nicNo"
                name="serch_nicNo"
                required>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="date"
                id="serch_dateOfBirth"
                class="form-control form-control-sm"
                placeholder="DoB"
                [ngModel]="baseService.searchRecord.dateOfBirth| date:'yyyy-MM-dd'"
                [(ngModel)]="baseService.searchRecord.dateOfBirth"
                name="serch_dateOfBirth">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                list="genderlist"
                id="serch_gender"
                placeholder="Gender"
                class="form-control form-control-sm"
                [(ngModel)]="baseService.searchRecord.gender"
                name="serch_gender">
            <datalist id="genderlist">
                <option data-value="male" value = "Male" >
                <option data-value="female" value = "Female">
            </datalist>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                list="civilStatuslist"
                id="serch_civilStatus"
                placeholder="Civil Status"
                class="form-control form-control-sm"
                [(ngModel)]="baseService.searchRecord.civilStatus"
                name="serch_civilStatus">
            <datalist id="civilStatuslist">
                <option data-value="single" value = "Single" >
                <option data-value="married" value = "Married">
                <option data-value="widowed" value = "Widowed">
                <option data-value="divorced" value = "Divorced">
                <option data-value="separated" value = "Separated">
            </datalist>
        </div>
    </div>
    
    <div class="col-md-2">
        <div class="form-group">
            <input 
                list="userTypelist"
                id="serch_userType"
                placeholder="User Type"
                class="form-control form-control-sm"
                [(ngModel)]="baseService.searchRecord.userType"
                name="serch_userType">
            <datalist id="userTypelist">
                <option data-value="administrator" value = "Administrator" >
                <option data-value="normal" value = "Normal">
            </datalist>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                style="text-transform:uppercase"
                id="serch_userName"
                class="form-control form-control-sm"
                placeholder="User Name"
                [(ngModel)]="baseService.searchRecord.userName"
                name="serch_userName">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_houseNo"
                class="form-control form-control-sm"
                placeholder="House No"
                [(ngModel)]="baseService.searchRecord.houseNo"
                name="serch_houseNo">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_streetAddress"
                class="form-control form-control-sm"
                placeholder="Street Address"
                [(ngModel)]="baseService.searchRecord.streetAddress"
                name="serch_streetAddress">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_cityCbo"
                class="form-control form-control-sm"
                placeholder="City/Cbo"
                [(ngModel)]="baseService.searchRecord.cityCbo"
                name="serch_cityCbo">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_mobileNo"
                class="form-control form-control-sm"
                placeholder="Mobile No"
                [(ngModel)]="baseService.searchRecord.mobileNo"
                name="serch_mobileNo">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_landPhoneNo"
                class="form-control form-control-sm"
                placeholder="Land Phone No"
                [(ngModel)]="baseService.searchRecord.landPhoneNo"
                name="serch_landPhoneNo">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input 
                type="text"
                id="serch_email"
                class="form-control form-control-sm"
                placeholder="Email"
                [(ngModel)]="baseService.searchRecord.email"
                name="serch_email">
        </div>
    </div>
</div>
<form #f="ngForm" >
    <div class="row blockstyle group-block">
        <div class="col-md-3">
            <div class="form-group">
                <label for="title">*Title</label>
                <select 
                    type="text"
                    id="title"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.title"
                    name="title"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="mr">Mr</option>
                    <option value="mrs">Mrs</option>
                    <option value="master">Rev</option>
                    <option value="miss">Miss</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="firstName">*First Name</label>
                <input 
                    type="text"
                    id="firstName"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.firstName"
                    name="firstName"
                    required
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="middleName">Middle Name</label>
                <input 
                    type="text"
                    id="middleName"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.middleNames"
                    name="middleName"
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="lastname">*Last Name</label>
                    <input 
                        type="text"
                        id="lastname"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.lastName"
                        name="lastname"
                        required
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="nicNo">*NIC No</label>
                    <input 
                        type="text"
                        id="nicNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.nicNo"
                        name="nicNo"
                        required
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="dateOfBirth">DoB</label>
                    <input 
                        type="date"
                        id="dateOfBirth"
                        class="form-control form-control-sm"
                        [ngModel]="baseService.record.dateOfBirth| date:'yyyy-MM-dd'"
                        [(ngModel)]="baseService.record.dateOfBirth"
                        name="dateOfBirth"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="gender">*Gender</label>
                <select 
                    type="text"
                    id="gender"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.gender"
                    name="gender"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="civilStatus">*Civil Status</label>
                <select 
                    type="text"
                    id="civilStatus"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.civilStatus"
                    name="civilStatus"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="widowed">Widowed</option>
                    <option value="divorced">Divorced</option>
                    <option value="separated">Separated </option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="row blockstyle group-block">

        <div class="col-md-3">
            <div class="form-group">
                <label for="userType">*User Type</label>
                <select 
                    type="text"
                    id="userType"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.userType"
                    name="userType"
                    required
                    [disabled]="baseService.getReadMode()">
                    <option value="administrator">Administrator</option>
                    <option value="normal">Normal</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="userName">*User Name</label>
                <input 
                    type="text"
                    style="text-transform:uppercase"
                    id="userName"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.userName"
                    name="userName"
                    required
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="password">*Password</label>
                    <input 
                        type="password"
                        autocomplete="new-password"
                        id="password"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.password"
                        name="password"
                        required
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
    </div>

    <div class="row blockstyle group-block">
        <div class="col-md-3">
            <div class="form-group">
                    <label for="houseNo">House No</label>
                    <input 
                        type="text"
                        id="houseNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.houseNo"
                        name="houseNo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="streetAddress">Street Address</label>
                    <input 
                        type="text"
                        id="streetAddress"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.streetAddress"
                        name="streetAddress"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="cityCbo">City/Cbo</label>
                    <input 
                        type="text"
                        id="cityCbo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.cityCbo"
                        name="cityCbo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="mobileNo">Mobile No</label>
                    <input 
                        type="text"
                        id="mobileNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.mobileNo"
                        name="mobileNo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="landPhoneNo">Land Phone No</label>
                    <input 
                        type="text"
                        id="landPhoneNo"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.landPhoneNo"
                        name="landPhoneNo"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        type="text"
                        id="email"
                        class="form-control form-control-sm"
                        [(ngModel)]="baseService.record.email"
                        name="email"
                        [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <hr>
    </div>
</form>