<table>
    <tr class="col-md-2">
        <td><h3>{{title}}</h3></td>
        <td> 
            <select 
                type="text"
                id="headerobjid"
                class="mainbackgound mainselector form-control form-control-sm"
                [(ngModel)]="baseService.headerobjid"
                (ngModelChange)="baseService.reload(baseService.headerobjid)"
                name="headerobjid"
                [disabled]="!baseService.getReadMode()">
                <option *ngFor="let record of baseService.recordsArr  " value="{{record.objid}}">
                    {{record[select1].toUpperCase()}} - {{record[select2]}}  {{record[select3]}} 
                </option>
            </select>
        </td>
    </tr>
</table>
