input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border: 2px solid;
    border-color:red; 
}

lead-x {
    padding: 4px;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.4;
        }