<table>
    <tr class="col-md-2">
        <td><h3>Branch</h3></td>
        <td> 
            <select 
                type="text"
                id="headerobjid"
                class="mainbackgound mainselector form-control form-control-md"
                [(ngModel)]="baseService.headerobjid"
                (ngModelChange)="baseService.reload(baseService.headerobjid)"
                name="headerobjid"
                [disabled]="!baseService.getReadMode()">
                <option *ngFor="let record of baseService.recordsArr  " value="{{record.objid}}">
                    {{record.code.toUpperCase()}} - {{record.name}} 
                </option>
            </select>
        </td>
    </tr>
</table>
<app-buttons [objid] ="record.objid" [valid] ="f.valid" [dirty] ="f.dirty" [form] = "form"></app-buttons>
<div class="row blockstyle group-block">
    <p  data-toggle="collapse" data-target="#demo">Search</p>
    <div id="demo" class="collapse" data-toggle="collapse">
        <div class="col-md-12">
            <div class="form-group">
                <input 
                    type="text"
                    id="code_search"
                    class="form-control form-control-sm"
                    style="text-transform:uppercase"
                    [(ngModel)]="baseService.searchRecord.code"
                    name="code_search">
            </div>
        </div>
    </div>
</div>
<form #f="ngForm"   >  
    <div class="row blockstyle group-block" >
        <div class="col-md-3">
            <div class="form-group">
                <label for="code">*Branch Code</label>
                <input 
                    type="text"
                    id="code"
                    class="form-control form-control-sm"
                    style="text-transform:uppercase"
                    [(ngModel)]="baseService.record.code"
                    name="code"
                    required
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="name">*Branch Name</label>
                <input 
                    type="text"
                    id="name"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.name"
                    name="name"
                    required
                    [disabled]="baseService.getReadMode()">
            </div>
        </div>
    </div>
  
    <div class="row blockstyle group-block"  >
      <div class="col-md-3">
          <div class="form-group">
                  <label for="address1">*Address1</label>
                  <input 
                      type="text"
                      id="address1"
                      class="form-control form-control-sm"
                      [(ngModel)]="baseService.record.address1"
                      name="address1"
                      required
                      [disabled]="baseService.getReadMode()">
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
                <label for="address2">*Address2</label>
                <input 
                    type="text"
                    id="address2"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.address2"
                    name="address2"
                    required
                    [disabled]="baseService.getReadMode()">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
                <label for="address3">*Address3</label>
                <input 
                    type="text"
                    id="address3"
                    class="form-control form-control-sm"
                    [(ngModel)]="baseService.record.address3"
                    name="address3"
                    required
                    [disabled]="baseService.getReadMode()">
        </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
                  <label for="city">*City</label>
                  <input 
                      type="text"
                      id="city"
                      class="form-control form-control-sm"
                      [(ngModel)]="baseService.record.city"
                      name="city"
                      required
                      [disabled]="baseService.getReadMode()">
          </div>
      </div>  
      <div class="col-md-3">
          <div class="form-group">
                  <label for="phoneNo">Phone No</label>
                  <input 
                      type="text"
                      id="phoneNo"
                      class="form-control form-control-sm"
                      [(ngModel)]="baseService.record.phoneNo"
                      name="phoneNo"
                      
                      [disabled]="baseService.getReadMode()">
          </div>
      </div>  
      <div class="col-md-3">
          <div class="form-group">
                  <label for="email">E-mail</label>
                  <input 
                      type="text"
                      id="email"
                      class="form-control form-control-sm"
                      [(ngModel)]="baseService.record.email"
                      name="email"
                      
                      [disabled]="baseService.getReadMode()">
          </div>
      </div>  
      <div class="col-md-3">
          <div class="form-group">
                  <label for="fax">Fax</label>
                  <input 
                      type="text"
                      id="fax"
                      class="form-control form-control-sm"
                      [(ngModel)]="baseService.record.fax"
                      name="fax"
                      
                      [disabled]="baseService.getReadMode()">
          </div>
      </div>  
    </div>
</form>